{% load staticfiles %}
<html>
 <head>
     <title>Django Blog</title>
	 <link rel="stylesheet" href="{% static 'css/base.css' %}">

 </head>
 <body>
  <div class= "container">
        <header>
		 <div class="nav-left">

	        <h1><a href = "/" >Django Blog </a></h1>
		 </div>
		  <div class="nav-right">

	        <h1><a href = "{% url 'Post_new' %}" >+ New Blog Post </a></h1>
		 </div>
		 
	    </header>
	

       {% block content %}
	   {% endblock content %}	
   
 </body>
<html>
