{% extends 'base.html' %}
{% block content %}
<h1>Delete post</h1>
<form action="" method="post">{% csrf_token %}
<p>Are you sure about deleting "{{ post.title }}" ? </p>
<input type="submit" value="Delete Post " />
</form>
{% endblock %}

