{% extends 'base.html' %}
{% block content %}
<div class="post-entry">
<h2>{{ object.title }}</h2>
<p>{{ object.body }}</p>
</div>
<a href="{% url 'Post_edit' post.pk %}">+ Edit Blog Post</a>
<p><a href="{% url 'Post_delete' post.pk %}">+ Delete Blog Post</a></p>
{% endblock content %}